header
  {
  text-align: right;
  margin-bottom: 3em;
  margin-right: 1em;
  }


header a:link
  {
  color: grey;
  text-decoration: none;
  margin: 0.4em;
  }

header a:visited
  {
  color: grey;
  }

  .gmail .images
  {
  text-decoration: none;
  }

  .gmail:hover
  {
  text-decoration: underline;
  }

  .images:hover
  {
  text-decoration: underline;
  }

.material-icons:hover
  {
  color:black;
  }

section img
  {
  display: block;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
  }

.signin
  {
  border: 2px solid rgb(67, 134, 250);
  background-color: rgb(67, 134, 250);
  color: white;
  text-decoration: none;
  font-family: fantasy;
  padding: 3.5px;
  padding-left: 9px;
  padding-right: 9px;
  }
/* attribute:visited plays when the button has been clicked"*/
.signin:visited
  {
  color:white;
  }

section input
  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding : 1em 25em 0.5em 0em;
  border: 1px solid grey;
  border-radius: 1px;
  box-shadow: 3px 3px 2px silver;
  text-align: left;
  }

section a
  {
  border: 2px solid rgb(243, 243, 243);
  display: inline;
  text-align: center;
  color: rgb(125, 145, 145);
  margin: auto;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background-color: rgb(243, 243, 243);
  text-decoration: none;
  }

div

  {
  width: 26%;
  margin: auto;
  margin-top: 2em;
  }

p
  {
  text-align: center;
  padding-top: 1em;
  padding-right: 2em;
  }

section a:hover
  {
  border: 2px outset rgb(224, 224, 224);
  color: black;
  font-weight: bold;
  }

footer
  {
  border: 2px solid rgb(242, 242, 242);
  background-color: rgb(242, 242, 242);
  margin-top: 14em;
  color: rgb(102, 102, 102);
  }

footer a:link
  {
  text-decoration: none;
  color: rgb(128,128,128);
  }

aside
  {
  float: right;
  }
